<h3>OuiShare Labs Camp #3 is over!</h3>

{% comment %}
<p>The third OuiShare Labs Camp will take place in Mozilla Paris on 18-19 May, 2015, just before the OuiShare Fest 2015.</p> 
<p><a href="http://camp.ouisharelabs.net/2015/" target="_blank">Read more about Labs Camp #3 &raquo;</a></p>
<p><a href="https://github.com/OuiShare/OuiShare-Labs-Camp/blob/gh-pages/_data/participants.yml">Register with a pull request &raquo;</a></p>
{% endcomment %}

<p>Thank you to everyone who participated in the camp!</p>
<p><a href="https://www.youtube.com/playlist?list=PL8Bt3EbdmpKOYuRykt6bz7vlfek3NSv1l" target="_blank">See the presentation videos on OuiShareTV</a></p>
<p><a href="http://camp.ouisharelabs.net/2015/" target="_blank">Read more about Labs Camp #3 &raquo;</a></p>