<h3>OuiShare Labs</h3>

<p>OuiShare Labs is an emerging network of web developers, app and platform makers within and around the global <a href="http://ouishare.net" target="_blank">OuiShare community</a>.</p>

<p>In this group we share our experiences with using the growing variety of tools with a focus on Open Source, while staying open to finding inspiration from proprietary software. We also focus on improving interoperability among P2P marketplaces and making online collaboration experiences truly smooth and fun!</p>