
<h3>OuiShare Labs open meetup</h3>
<p>On the evening of Monday, May 19th we'll have an open meetup for project pitches, expecting those who cannot for some reason participate in Labs Camp during the two days.</p>
<p><a href="http://www.meetup.com/OuiShareLabs/events/222326906/" target="_blank"><img src="https://ouishare.s3.amazonaws.com/uploads/event/service1_image/40/meetup_logo-transparent.gif" alt="OuiShare Labs Meetup group" width="50" style="margin-right:0.5em;" />Register in the meetup group &raquo;</a></p>

