<footer class="footer">
  <hr />

  <div class="container">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="row h-card">
      <div class="col-md-4">
        <img class="u-photo" src="{{site.baseurl}}/img/oslabs-cogs.svg" style="max-width:100%; height:40px; float:left; padding-right:10px;"/>
        <ul class="list-unstyled">
          <li class="p-name">{{ site.title }}</li>
          <li class="p-note">{{ site.description }}</li>
          
        </ul>
      </div>

      <div class="col-md-4 text-center">
        <ul class="list-inline">
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}" rel="me" class="u-email"><i class="fa fa-envelope-o fa-2x"></i></a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" rel="me" target="_blank"><i class="fa fa-github fa-2x"></i></a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" rel="me" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4 text-right">
        <!--<p class="text">{{ site.description }}</p>-->
        <p><a href="https://github.com/kirilind/oslabs-website">View source &raquo;</a></p>
      </div>
    </div>

  </div>

</footer>
