{% if webmention.relative_path contains page.url %}
<hr/>
{% endif %}


<h4>Noticed elsewhere</h4>

{% for webmention in site.webmentions %}
  {% if webmention.relative_path contains page.url %}
    <div class="row h-feed">
      <article class="h-entry" itemprops="comment">
      <div class="col-md-1 col-sm-3">
        <header class="h-card">
          {% if webmention.author_image %}
            <a href="{{ webmention.author_url }}" class="p-author"><img src="{{ webmention.author_image }}" alt="{{ webmention.author_name }}" class="u-photo"></a>
          {% endif %} 
        </header>           
      </div>
      <div class="col-md-11 col-sm-9">
        <cite class="h-cite">via <a href="{{ webmention.author_url }}" class="p-author">{% if webmention.via %}{{ webmention.via }}{% else %}{{ webmention.author_name }}{% endif %}</a> on <a href="{{ webmention.source }}" class="u-url"><time class="dt-published">{{ webmention.date | date_to_string }}</time></a></cite>
        <div class="p-name p-summary e-content">{{ webmention.content | markdownify }}</div>
      </div>
      </article>
    </div>
  {% endif %}
{% endfor %}


{% comment %}
<section class="h-feed">
  <ul class="list-unstyled">
    {% for webmention in site.webmentions %}
      {% if webmention.relative_path contains page.url %}
        <li>
          <article class="h-entry" itemprops="comment">
            <header class="h-card">
              <h4>
                <a href="{{ webmention.author_url }}">
                  {% if webmention.author_image %}<img src="{{ webmention.author_image }}">{% endif %}
                  {{ webmention.author_name }}
                </a>
              </h4>
            </header>
            <div class="p-name p-summary e-content">{{ webmention.content }}</div>
            <footer>
              <cite>via <a href="{{ webmention.source }}">{% if webmention.via %}{{ webmention.via }}{% else %}{{ webmention.source }}{% endif %}</a>, {{ webmention.date | date: "%-d/%-m/%y" }}</cite>
            </footer>
          </article>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!--<p>To comment, send a webmention - or, if you don't know how, send an email to <a target="_blank" href="mailto:webmention@questo.email?subject={{ site.url }}{{ page.url }}">webmention@questo.email</a> with the URL of this post as the subject.</p> -->
</section>
{% endcomment %}